.main-footer-section{
   background-color:rgb(107, 106, 106);
   width:100%;
   height: 250px;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 50px;
   color: white;
}
.footer-info-container-first{
     width:580px
}
.footer-info-container{
    width:120px;
    margin-top: 30px;
}
@media screen  and (max-width:768px){
    .main-footer-section{
        flex-direction: column;
        height: auto;
        padding: 20px 16px;
    }
    .footer-info-container-first{
     width:100%
    }
    .footer-info-container{
        width: 100%;
    }
}