body {
    background-color: #f5f5f5;
}
/* Hero */
.hero {
    margin-top: 100px;
    text-align: center;
    padding: 30px 20px;
    color: white;
    background-color: rgb(93, 36, 36);

}

.hero h1 {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 18px;
}

/* Form Section */
.form-section {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}

.trip-form {
    background-color: white;
    padding: 40px;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

.trip-form label {
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.trip-form input,
.trip-form select,
.trip-form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.trip-form button {
    margin-top: 20px;
    padding: 12px;
    background-color: #DA3D20;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.trip-form button:hover {
    background-color: rgb(18, 18, 83);
;
}
